<form [formGroup]="form">
  <div class="radio">
    <input id="beef" type="radio" formControlName="food" value="beef">
    <label for="beef" class="radio-label">Beef</label>
  </div>
  <div class="radio">
    <input id="lamb" type="radio" formControlName="food" value="lamb">
    <label for="lamb" class="radio-label">Lamb</label>
  </div>
  <div class="radio">
    <input id="fish" type="radio" formControlName="food" value="fish">
    <label for="fish" class="radio-label">Fish</label>
  </div>
</form>

<p>Form value: {{ form.value | json }}</p>
<!-- {food: 'lamb' } -->